.heatmap {
    float: left;
    width: 85%;
    height: 100%;
}

.form-sliders {
    width: 15%;
    padding-top: 70px;
    padding-right: 50px;
    float: right;
}

.slider {
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    height: 90px;
    padding: 30px;
    background: #fcfcfc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0px 15px 40px #7E6D5766;
}

.alert-message {
    width: 400px;
    padding-right: 50px;
    right: 90%;
}
