{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block body %}
  <div class="heatmap">
    {% include "map.html" %}
  </div>
  <div class="form-sliders">
    <form action="#" method="post">
      <div class="slider">
        <label for="coords">North:</label>
        <input type="range" name="north_range" min="-90" max="90" step=0.00001 value="{{ request.form['north'] }}" onchange="updateNorthCoord(this.value)" oninput="north.value=north_range.value">
        <input type="number" oninput="north_range.value=north.value" id="north" name="north" value="{{ request.form['north'] }}" min="-90" max="90" step=0.00001 oninput="north.value=north_range.value" required>
      </div>
      <div class="slider">
        <label for="coords">South:</label>
        <input type="range" name="south_range" min="-90" max="90" step=0.00001 value="{{ request.form['south'] }}" onchange="updateSouthCoord(this.value)" oninput="south.value=south_range.value">
        <input type="number" oninput="south_range.value=south.value" id="south" name="south" value="{{ request.form['south'] }}" min="-90" max="90" step=0.00001 oninput="south.value=south_range.value" required>
      </div>
      <div class="slider">
        <label for="coords">East:</label>
        <input type="range" name="east_range" min="-180" max="80" step=0.00001 value="{{ request.form['east'] }}" onchange="updateEastCoord(this.value)" oninput="east.value=east_range.value">
        <input type="number" oninput="east_range.value=east.value" id="east" name="east" value="{{ request.form['east'] }}" min="-180" max="80" step=0.00001 oninput="east.value=east_range.value" required>
      </div>
      <div class="slider">
        <label for="coords">West:</label>
        <input type="range" name="west_range" min="-180" max="80" step=0.00001 value="{{ request.form['west'] }}" onchange="updateWestCoord(this.value)" oninput="west.value=west_range.value">
        <input type="number" oninput="west_range.value=west.value" id="west" name="west" value="{{ request.form['west'] }}" min="-180" max="80" step=0.00001 oninput="west.value=west_range.value" required>
      </div>
      {% if error_statement %}
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
          <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
          </symbol>
        </svg>
        <div class="alert alert-danger d-flex align-items-center alert-message" role="alert">
          <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
          <div>
            {{ error_statement }}
          </div>
        </div>
      {% endif %}
      <input type="submit" class="btn btn-primary btn-lg" value="Submit">
    </form>
  </div>
{% endblock %}
